<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= ano.nome %>
</p>

<p>
  <strong>Turno:</strong>
  <%= ano.turno %>
</p>

<p>
  <strong>Escola:</strong>
  <%= ano.escola.nome %>
</p>