<h1>Sistema para comunicação de escolas, estudantes e responsáveis</h1>
<ul>
  <li><%= link_to "Escolas", escolas_path %></li>
  <li><%= link_to "Anos", anos_path %></li>
  <li><%= link_to "Turmas", turmas_path %></li>
  <li><%= link_to "Estudantes", estudantes_path %></li>
  <!--
    <li></li>
    aqui tu coloca o codigo que vai abrir a pagina de cadastro de estudantes
    so pra gente fazer os testes pra ver se passa tudo correto, depois isso vai ser dividido
    quando tiver o login
  -->
</ul>
